
@code {

    [Parameter, EditorRequired]
    public string[] Videos { get; set; }

    [Parameter, EditorRequired]
    public string ActiveVideo { get; set; }

    [Parameter, EditorRequired]
    public string Folder { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<string> ShareVideo { get; set; }
}

<div class="row row-cols-md-4 row-cols-2 g-5">
    @foreach (string video in Videos)
    {
        string url = $"{Folder}/{video}";
        string urlNoExtension = System.IO.Path.ChangeExtension(url, null);
        bool emphasised = urlNoExtension == $"{ActiveVideo}";
        string borderClass = emphasised ? "border border-primary border-3" : string.Empty;

        <div class="col">
            <div class="@borderClass">
                <Card TextAlignment="Alignment.Center" Color="emphasised ? CardColor.Primary : CardColor.Secondary" @onclick="() => ShareVideo.InvokeAsync(urlNoExtension)">
                    <video class="card-img-top" autoplay loop>
                        <source src="res/cameras/@url" type="video/mp4">
                    </video>
                </Card>
            </div>
            
        </div>
    }
</div>

