@code {
    public CardManipulationModel Model { get; set; }

    [Parameter]
    public EventCallback<uint?> OnCompleted { get; set; }

    private Modal _modal;
    private LateQuistisPattern _pattern;
    private string _activeTab;


    public async Task ShowAsync(LateQuistisPattern pattern)
    {
        _pattern = pattern;
        StateHasChanged();
        await _modal.ShowAsync();
    }

    private async Task Cancel()
    {
        await _modal.HideAsync();
        await OnCompleted.InvokeAsync(null);
    }


    private void OnTabShown(TabsEventArgs e)
    {
        _activeTab = e.ActiveTabName;
        StateHasChanged();
    }


    private string ModalTitle => _pattern is null ? "Quistis Card Pattern" : $"Quistis Card Pattern (RNG Index: {_pattern.RNGIndex})";

    private async Task SubmitFrame(uint result)
    {
        await _modal.HideAsync();
        await OnCompleted.InvokeAsync(result);
    }
}

<Modal @ref="_modal" Title="@ModalTitle" UseStaticBackdrop="true" Size="ModalSize.ExtraLarge">
    <BodyTemplate>
        <div class="container">
            <div class="row">
                <BoardStrategiesControl Strategies="_pattern.Strategies.Select(t => t.ToCardViewModel()).ToList()" FrameSubmitted="SubmitFrame" />
            </div>
            <div class="row gap-3 p-2">
                <CardTimerControl Model="@Model" />
            </div>
        </div>
    </BodyTemplate>
</Modal>
