@page "/cameras"
@page "/cameras/{*FocusedCamera}"
@inherits BasePage

@code {

    public override string PageTitle => "Cameras";

    [Parameter]
    public string FocusedCamera { get; set; }

    [Inject]
    private IJSRuntime JS { get; set; }

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private IJSObjectReference _module;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // This is required over adding the muted property, as Blazor will strip it out
        if (firstRender)
        {
            _module = await JS.InvokeAsync<IJSObjectReference>("import", "./lib/common.js");
            await _module.InvokeVoidAsync("initAutoplayVideos");
        }

        await base.OnAfterRenderAsync(firstRender);
    }    

    private async Task ShareVideo(string url)
    {
        string absoluteUrl = NavigationManager.ToAbsoluteUri($"cameras/{url}").ToString();
        await _module.InvokeVoidAsync("copyToClipboard", absoluteUrl);
        NavigationManager.NavigateTo($"/cameras/{url}");
    }
}



<div class="container">
    <Callout>These are all known camera angles and their associated output below</Callout>
    <Tabs EnableFadeEffect="true">
        <Tab Title="One to one" Active="true">
            <Content>
                <CamerasTabControl Videos="CameraData.OneToOne" ActiveVideo="@FocusedCamera" Folder="1to1" ShareVideo="ShareVideo"/>                
            </Content>
        </Tab>
        <Tab Title="Three Characters">
            <Content>
                <CamerasTabControl Videos="CameraData.ThreeCharacters" ActiveVideo="@FocusedCamera" Folder="three" ShareVideo="ShareVideo" />
            </Content>
        </Tab>
        <Tab Title="Single Character">
            <Content>
                <CamerasTabControl Videos="CameraData.SingleCharacter" ActiveVideo="@FocusedCamera" Folder="single" ShareVideo="ShareVideo" />
            </Content>
        </Tab>
        <Tab Title="Special">
            <Content>
                <CamerasTabControl Videos="CameraData.Special" ActiveVideo="@FocusedCamera" Folder="special" ShareVideo="ShareVideo" />
            </Content>
        </Tab>
    </Tabs>    
</div>
