@page "/"
@inherits BasePage
@implements IAsyncDisposable
@code {

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    [Inject]
    private SettingsService SettingsService { get; set; }

    [Inject] 
    private CardTrackerStateService CardTrackerState { get; set; }

    private Modal _cardModal;
    private Modal _cardStrategyModal;
    private ConfirmDialog _cardConfirmDialog;

    public override string PageTitle => "FF8 Utilities";

    private async Task CardManipulationClicked(bool isLate)
    {
        await HideModals();

        if (isLate)
        {
            CardTrackerState.SelectedEarlyQuistisPattern = null;
            NavigationManager.NavigateTo("card-tracker");            
        }
        else
        {
            await _cardModal.ShowAsync();
        }
    }

    private async Task HideModals()
    {
        try
        {
            await _cardModal.HideAsync();
        }
        catch
        {
            // Already hidden, or something else, ignore
        }

        try
        {
            await _cardStrategyModal.HideAsync();
        }
        catch
        {
            // Already hidden, or something else, ignore
        }
    }

    private async Task LaunchCardTracker(EarlyQuistisPattern pattern)
    {
        await HideModals();
        // TODO Add Non tracking option for 2nd try Zell
        CardTrackerState.SelectedEarlyQuistisPattern = pattern;
        NavigationManager.NavigateTo($"card-tracker");
    }

    public async ValueTask DisposeAsync()
    {
        await HideModals();
    }
}

<Modal @ref="_cardModal">
    <BodyTemplate>
        <Accordion>
            @foreach (var pattern in EarlyQuistisPattern.OptionsExcludeLate)
            {
                <AccordionItem Title="@pattern.Description">
                    <Content>
                        @if (EarlyQuistisPattern.WinnableFrames.Contains(pattern))
                        {
                            <div class="row">
                                <CardBoardControl Modal="@pattern.GetCardPositionForQuistisPattern().ToList()" />                                
                            </div>
                            <div class="row">
                                <Button Block="true" Color="ButtonColor.Primary" Size="ButtonSize.Large" @onclick="async () => await LaunchCardTracker(pattern)">SUBMIT</Button>
                            </div>
                        }
                        else
                        {
                            <span>Frame is not winnable, sorry.  Let us know if you do win!</span>
                        }
                    </Content>
                </AccordionItem>
            }
        </Accordion>
    </BodyTemplate>
</Modal>

<Modal @ref="_cardStrategyModal" Title="Select Quistis Strategy">
    <BodyTemplate>
        <div class="row">
            <div class="col-6">
                <Button Block="true" @onclick="async () => await CardManipulationClicked(false)">Early</Button>
            </div>
            <div class="col-6">
                <Button Block="true" @onclick="async () => await CardManipulationClicked(true)">Late</Button>
            </div>
        </div>
    </BodyTemplate>
</Modal>


<div class="container text-center">    
    <div class="row">
        <Callout>
            This website is still in beta and many tools are unavailable or untested.
        </Callout>
    </div>
    <div class="row">
        <div class="col-6">
            <Card>
                <CardBody>
                    <CardTitle>Cards</CardTitle>
                    <CardBody>Supports EQ/LQ, First & 2nd try Zell card</CardBody>
                    <Button Block="true" Color="ButtonColor.Primary" Size="ButtonSize.ExtraLarge" @onclick="async () => await _cardStrategyModal.ShowAsync()">Launch</Button>
                </CardBody>
            </Card>
        </div>
        <div class="col-6">
            <Card>
                <CardBody>
                    <CardTitle>Fish Fins</CardTitle>
                    <CardBody>Currently supports Quezacotl fish fin manipulation</CardBody>
                    <Button Block="true" Color="ButtonColor.Primary" Size="ButtonSize.ExtraLarge">Launch</Button>
                </CardBody>
            </Card>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <Card>
                <CardBody>
                    <CardTitle>Caraway Code</CardTitle>
                    <CardBody>Enter Caraway Mansion early with pole counting</CardBody>
                    <Button Block="true" Color="ButtonColor.Primary" Size="ButtonSize.ExtraLarge">Launch</Button>
                </CardBody>
            </Card>
        </div>
        <div class="col-6">
            <Card>
                <CardBody>
                    <CardTitle>Ultimecia Party</CardTitle>
                    <CardBody>Ensure Irvine is in your starting party for the Ultimecia battle</CardBody>
                    <Button Block="true" Color="ButtonColor.Primary" Size="ButtonSize.ExtraLarge">Launch</Button>
                </CardBody>
            </Card>
        </div>
    </div>    
</div>