@page "/zell-card"
@inherits BasePage

@code {

    public CardManipulationModel Model { get; set; }

    [Inject]
    public CardTrackerStateService CardTrackerService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    protected override void OnInitialized()
    {
        Model = CardTrackerService.ManipModel;
    }


    public override string PageTitle
    {
        get
        {
            if (Model == null) return "Zell Card Patterns";
            string title = $"Zell Card Patterns (Quistis Outcome: {Model.State.ToString("X")}";
            if (Model.Count > 0) title += $" - RNG Index: {Model.Count}";
            title += ")";
            return title;
        }
    }
}

<div class="d-flex flex-column h-100 gap-3 p-2">
    <div class="row h-100">
        <Tabs>
            <Tab Title="Player Starts">
                <Content>
                    <div class="row">
                        <div class="d-flex flex-column h-100 align-items-center">
                            <CardBoardControl Modal="CardPosition.ZellPlayerFirstPositions.ToList()" />
                        </div>
                    </div>
                </Content>
            </Tab>
            <Tab Title="Mom Starts">
                <Content>
                    <div class="row">
                        <div class="col-6">
                            <div class="border border-secondary rounded mb-2 text-center">
                                <div class="bg-primary d-flex align-items-center py-2 px-2 text-center">
                                    <h4 class="fw-bold mb-0 text-center">Option 1</h4>
                                </div>
                            </div>
                            <CardBoardControl Modal="CardPosition.ZellMomFirstPositionsWeak.ToList()" />
                        </div>
                        <div class="col-6">
                            <div class="border border-secondary rounded mb-2 text-center">
                                <div class="bg-primary d-flex align-items-center py-2 px-2 text-center">
                                    <h4 class="fw-bold mb-0 text-center">Option 2</h4>
                                </div>
                            </div>
                            <CardBoardControl Modal="CardPosition.ZellMomFirstPositionsStrong.ToList()" />
                        </div>
                    </div>
                </Content>
            </Tab>
        </Tabs>
    </div>
    <div class="d-flex flex-column gap-3 p-2">
        <CardTimerControl Model="@Model" />
    </div>
</div>
